#welcome-link {
  min-height: 500px;
  background-image: url('../images/tim-gouw-209648_grayscale_o60.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  .background-cover {
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: $teal;
    opacity: 0.8;
  }

  .container {
    height: 500px;
    padding-top: 100px;
  }

  h1 {
    color: $yellow;
    font-size: 48px;
    line-height: 48px;
  }

  h1:last-child {
    position: absolute;
    bottom: 100px;
  }

  h2 {
    font-weight: 300;
    color: $gray-lightest;
    font-size: 24px;

    span {
      font-size: 48px;
    }
  }
}

@include media-breakpoint-down(md) {
  #welcome-link {
    min-height: 250px;

    .background-cover {
      height: 250px;
    }

    .container {
      height: 250px;
      padding-top: 25px;
    }

    h1 {
      font-size: 30px;
      line-height: 30px;
    }

    h1:last-child {
      bottom: 25px;
    }

    h2 {
      font-size: 20px;
      line-height: 20px;

      span {
        font-size: 30px;
      }
    }
  }
}
