@import "bootstrap/bootstrap.scss";

p {
  color: $gray;
  font-size: 18px;
  line-height: 34px;
}


.section {
  h2.section-header {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 16px;
    color: #9B9B9B;
    color: $gray-light;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h1 {
    color: $teal;
    font-size: 24px;
    line-height: 33px;
  }

  img {
    margin-top: 2em;
  }

  p {
    text-align: justify;
  }

  border-bottom: 1px solid $gray-lightest;
}

.read-more {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;

  .gradient {
    background: white;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    height: 150px;
  }

  .content {
    background: white;
    height: 50px;
    text-align: center;
  }
}

//Import sass fragments
@import "site/header";
@import "site/jumbotron";
