@import "bootstrap/bootstrap.scss";

p, li {
  color: $gray;
  font-size: 18px;
  line-height: 34px;
}


.section {
  h2.section-header {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 16px;
    color: $gray-light;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h1 {
    color: $teal;
    font-size: 24px;
    line-height: 33px;
  }

  img {
    margin-top: 2em;
  }

  p {
    text-align: justify;
  }

  border-bottom: 1px solid $gray-lightest;
}

.section.section-blue {
  background-color: $teal;

  h2.section-header {
    color: $gray-lightest;
  }

  h1 {
    color: $yellow;
  }

  p {
    color: $gray-lighter;
  }
}

.section.section-yellow {
  background-color: $yellow-light;
}

.read-more {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;

  .gradient {
    background: white;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    height: 150px;
  }

  .content {
    background: white;
    height: 50px;
    text-align: center;
  }
}

.event-day {
  h3 {
    color: $yellow;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 0.1em;
  }

  h3.subtitle {
    color: $gray-lighter;
    margin-bottom: 0.5em;
  }

  img {
    margin: 0px;
    margin-bottom: 0.5em;
    width: 100%;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }
}

.interested-list-item {
  margin-top: 1em;
  margin-bottom: 1em;

  .bullet-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    .bullet {
      height: 50px;
      width: 50px;
      background-color: $teal;
      text-align: center;
      color: $yellow;
      font-size: 24pt;
      line-height: 50px;
      vertical-align: middle;
      border-radius: 25px;
    }

    h2 {
      font-size: 24px;
      color: $teal;
      margin: 0px;
      margin-left: 1em;
    }
  }

  h3 {
    font-size: 20px;
    color: $teal;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;

  .image-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px dotted $yellow;
    // border-left: 5px solid $teal;
    // border-right: 5px solid $teal;
    overflow: hidden;

    img {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  h1 {
    color: $teal;
    margin: 0;
  }

  p.title {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0.8em;
  }

  p {
    line-height: 24px;
  }
}

//Import sass fragments
@import "site/header";
@import "site/jumbotron";
